
body {
    margin:0;
    padding:0;
    text-align:left;
    font-size: 18px;
    background-color: #18278E;
    color: #fff;
}


/* ヘッダー */
.header{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    border-bottom: 2px solid #ccc;
}

.header img{
    height: 100%;
    width: auto;
    padding-left: 30px;
}

.header h1{
    margin: 0;
    font-style: 24px;
    color: #FFF;
    padding: 40px;
    font-family: "Kaisei Opti", serif;
}

/* 要素 */

main{
    border-bottom:1px solid #ccc;
    position:relative;
    background-image: url(../img/background.jpg);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 120px;
    font-family: "Kaisei Opti", serif;
}

.input-playlist{
    display:flex;
    align-items: stretch;
    justify-content: flex-start;
    padding-bottom: 40px;
    padding-top: 20px;
    margin-left: 100px;
}

.input{
    background-color: rgba(255, 255, 255, 0.1);
    flex-direction: column;
    display: inline-block;
    width: fit-content;    
    color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;

}

label {
    display: inline-block;
    width: 180px;
    vertical-align: top;
    height: 50px;
}

.select-input {
    height: 2.4em;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(63, 217, 255) inset;
}

.playlist{
    padding-left: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    flex-direction: column;
    display: inline-block;
    width: fit-content;    
    color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 400px;
}
